my-auth {
  .aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .aligner-item {
    width: 50%;
  }

  form {
    button {
      width: 100%;
    }
  }
}
